html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Montserrat;
/* font-size: 20px; */
/* font-weight: 100; */
/* line-height: 24px; */
letter-spacing: -0.015em;
/* text-align: center; */
overflow-x: hidden;

}

navbar{
    width: 100%;
    height: 75px;
    background: #ffffff;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
navbar a{
text-decoration: none;
color: inherit;
}


.navLinks{
    width: min(50%,80%);
    padding-right: 50px;
}

.nav-element{
    /* padding-right: 50px; */
    display: flex;
    justify-content: space-between   ;
    /* width: 100%; */
}
.nav-element li{
    display: inline-block;
    padding: 10px;
}
.nav-element li a{
    text-decoration: none;
    display: inline-block;
    text-align: right;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
}
.nav-element li::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.441);
    width: 0%;
    height: 1px;
    display: block;
    margin: auto;
    transition: .3s ease-in-out;

}
.nav-element li:hover::after{
    width: 100%;
    
}
.navlogo{
    width: 50px;
    /* padding: 25px; */
    padding-left: 50px;
    font-weight: 900;
    font-family: 'Montserrat', serif ;
    /* font-family: 'Oranienbaum', serif; */
    color: #006994;
}

.close{
    width: 15px;
}
.open{
    width: 20px;
}
.open{
    display: none;
}
.close{
    display: none;
}

section{
    padding-inline: 50px;
    height: 100%;
    
}

.section-1{
    margin-top: 5%;
    height:100vh
    
}

.about-content{
    background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 28.91%, #006994 100%),
    url(./assets/main-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   

}


.main-content{
    padding-left: 5%;
    width: 60%;
}

.main-content h1{
    font-size: 4vw;
}

.main-content p{
    font-size: 130%;
}

.main-content button{
    
        border: none;
        /* color: rgb(231, 0, 0); */
        padding: 13px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 20px;
        
        transition-duration: 0.3s;
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0); 
        color: rgb(255, 255, 255); 
        border: 2px solid #ffffff;
      
}
.main-content button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
  }

  .main-content button a{
    color: inherit;
    text-decoration: none;
    font-size: 130%;
  }


  .about-section{
    display: flex;
    justify-content: space-between;
    margin: 5% 0 ;
  }

.abt-content{
    width: 40%;
}

.abt-content h1{
    font-size: 50px;
    color: #006994;
    margin: 0;
}
.abt-content p{
    text-align: justify;
}
.abt-content h2{
    margin-top: 50px;
    color: #006994;
}
.abt-content a>button{
    font-size: 20px;
    margin-top: 30px;
    padding: 13px 50px;
    text-decoration: none;
    border: 0;
    background: #006994;
    color: white;
    border-radius: 5px;
    transition: .3s ease;
}

.abt-content a>button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #006994;
    transition: .3s ease;
}
.about-img{
    width: 50%;
}

  .about-img img{
    width: 100%;
    /* width: 40%; */
    height: auto;

  }

.section-3{
    margin-block: 5%;
}
  .section-3 h1{
    text-align: center;
    font-size: 40px;
    color: #006994;
    text-align: center;
  }
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 20px;
    text-align: center;
    
}
  .card{
    /* background: #D9D9D9; */
    height: 200px;
    width: 400px;
    transition: .5s;
    border-radius: 10px;
    box-sizing: border-box;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
  }
  .card:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11), 0 16px 16px rgba(0,0,0,0.11), 0 32px 32px rgba(0,0,0,0.11);
  }
  .card p{
    margin: 0;
  }

  .venture-cards{
    display: flex;
    justify-content: space-evenly;
  }

  .section-4{
    margin-block: 10%;
  }

  .section-4 h1{
    font-size: 40px;
    color: #006994;
    text-align: center;
  }

.v-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .v-card{
    width: calc(33.33333% - 20px);
    display: flex;
    flex-direction: column;
    background: #006994;
    color: white;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
    position: relative;
    /* min-height: 600px; */
    box-sizing: border-box;
    gap: 20px;
    transition: .3s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07); 
  }
.v-card:hover{
   transform: translateY(-2%);
}

.v-card a{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.v-card a>button{
    
    border: none;
    /* color: rgb(231, 0, 0); */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    /* position: relative; */
    /* left: 110px; */
    
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
  
}

.v-card a>button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.v-card > div{
    padding: 20px;
    min-height: 150px;
    text-align: center;
    /* margin-bottom: 70px; */
}

footer{
    color: white;
    padding: 50px 5vw;
    background: #006994;
}
footer>p{
    text-align: center;
    margin-top: 100px;
}

.footer{
    
    display: flex;
    justify-content: space-between;
    
}

.nav-footer{
    color: white;
    list-style-type: none;
    width: 33%;

}
.nav-footer .navlogo{
    color: white;
    padding-left: 0;
}
.nav-footer li{
    margin-top: 30px;
}

.feedback{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.feedback form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.feedback form div{
    margin-top: 30px;
}
.feedback form div input{
    width: 300px;
    height: 45px;
    display: block;
    margin-top: 10px;
}
.feedback form a button{
    border: none;
    /* color: rgb(231, 0, 0); */
    padding: 13px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
}
.feedback form a button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.info{
    width: 33%;
}

.contact{
    margin-left: 100px;
}
.contact>div{
    margin-top: 50px;
}

.contact>div p{
    margin: 0;
}

footer a{
    text-decoration: none;
    color: inherit;
}


















@media (max-width:1024px){
    .card-container{
        justify-content: center;
    }
    .v-card{
        width: calc(50% - 20px);
    }
    .venture-cards{
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 30px;
        align-items: center;
    }


}

@media (max-width:600px) {
    .v-card{
        width: 90%;
    }
}







@media (max-width:800px){
    .nav-element{
        position: fixed;
        inset: 0 0 0 30%;
        background:rgb(255, 255, 255);
        flex-direction: column;
        justify-content: flex-start;
        padding: min(30vh,10rem) 1em;
        align-items: flex-start;
        transform: translateX(100%);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: .3s ease;
    }
    .navlogo{
        padding-left: 1rem;
    }
    .close{
        /* display:inline-block; */
        /* background-color: brown; */
        z-index: 2;
        position: fixed;
        width: 2rem;
        top: 1.5rem;
        right: 1rem;
    }

    .open{
        display:inline-block;
        /* background-color: brown; */
        z-index: 2;
        position: absolute;
        width: 2rem;
        /* top: 2rem; */
        right: 1rem;
    }

    section{
        padding:0px;
    }

    .about-content{
        align-items: center;
        text-align: center;
    }
    .main-content{
        margin: 0px;
        padding-left: 0px;
        width: 90%;
    }
    .main-content h1{
        font-size: 200%;
        line-height: 50px;
    }

    .main-content p{
        font-size: 100%;
    }

    .about-section{
        flex-direction: column-reverse;
        
        align-items: center;
        row-gap: 30px;
        
        
    }
.abt-content{
    width: 90%;
    text-align: center;
}
.abt-content h1{
    font-size: 35px;
    
}
.about-img{
    width: 100vw;
    text-align: center;
}
    .about-img img{
        object-fit: contain;
        width: 95%;
        object-position: center;
        
    }
    .section-3{
        padding-left: 10px;
        padding-right: 10px;
    }

    .venture-cards{
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .v-card{
        margin-top: 5%;
    }
    .footer{
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .nav-footer{
        width: 100%;
        text-align: center;
    }
    .nav-footer .navlogo{
        color: #ffffff !important;
        padding-left: 0;
    }
    .feedback{
        margin-top: 10vh;
        width: 100%;
    }
    .info{
        width: 100%;
        /* margin-left: 0; */
        text-align: center;
    }
    .contact{
        margin-left: 0;
    }
    .feedback form div input{
        width: 100%;
        height: 30px;
    }
}


